/* main CSS */
/* --------- --------- --------- --------- --------- */

body {
    font-family: arial;
    line-height: 1.35;
    height: 100%;
    text-align: center;
    background: #f2f2f2 url(../imgs/bg_container.gif) repeat-y center; 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#container {
    width: 982px;
    text-align: left;
    margin: 0 auto;
    height: auto!important;
    height: 100%;
    min-height: 100%;
}

/* header CSS */
/* --------- --------- --------- --------- --------- */

#header {
    height: 112px;
    background: url(../imgs/bg_header.gif) no-repeat left bottom;
    padding: 0 10px 0 0;
    position: relative;
}

#header #left_col {
    float: left;
    width: auto;
}

#header #right_col {
    float: right;
    width: auto;
    width: 546px;
    height: 105px;
}

#phone_header {
    margin: 4px 0 11px 0;
}
#header #phone {
    color: #424242;
    font-weight: bold;
    background-image: url(../imgs/service_phone.jpg);
    width: 131px;
    margin-left: 10px;
	float: left;
    height: 19px;
    font-size: 1.6em;
    line-height: 1;
    background-repeat: no-repeat;
    background-position: left bottom;
    text-indent: -1000em;
}
#nav_utility {
    margin: 3px 12px 0 0;
    display: inline;
    z-index: 1000;
    position: absolute;
    right: 250px;
}
#nav_utility ul {
    float: left;
}
#nav_utility ul li.tag {
	margin-left: 2px;
	display: inline;
    float: left;
    font-size: 1.1em;
    display: inline;
    margin: 0 12px 0 0;
    color: #8c8c8c;
    position: relative;
    z-index: 9999;
}
#nav_utility ul li a {
    color: #8c8c8c;
    text-decoration: none;
    font-size: 62.5%;
}
#mycart {
    background: url(../imgs/bg_mycart_left.gif) no-repeat left bottom;
    height: 33px;
    padding: 0 0 0 13px;
    float: right;
}
#mycart ul {
    float: left;
    height: 33px;
    background: url(../imgs/bg_mycart_right.gif) no-repeat right bottom;
}
#mycart ul li.lead {
    background: url(../imgs/bg_mycart_lead.gif) no-repeat right bottom;
    padding-left: 0;
}
#mycart ul li a em {
    color: #4b2113;
    font-style: normal;
    float: left;
    display: block;
    margin: 0 3px 0 0;
    width: 76px;
    height: 33px;
    text-indent: -1000em;
    background: url(../img/icon/icon_mycart.gif) no-repeat left bottom;
}
#mycart ul li {
    float: left;
    height: 33px;
    color: #8e7266;
    padding: 0 11px 0 8px;
}
#mycart ul li a span {
    float: left;
}
#my-cart {
	margin-top: 10px;
	margin-right: 6px;
	float: left;
}
#cart-num {
	float: left;
	padding-top: 6px;
    font-size: 0.95em;
}
#checkout {
	margin-top: 6px;
}

#promo {
	margin-top: 50px;
}
#price {
	float: left;
}

#search {
    margin: 8px 0 0;
    width: 245px;
    float: right;
    margin-top: 40px;
    position: relative;
}
#search {
    background-color: #fff;
    border: 0;
    width: 159px;
    height: 26px;
    position: relative;
}
#search #search_global {
    float: right;
    width: 245px;
    padding: 0;
    border: 3px solid #e7dbc6;
}
#search #search_global .field.text input {
    border: 0;
    margin: 5px 0 0 0;
    width: 150px;
    color: #222;
    background: transparent;
}
#search #search_global .field.text {
    background-color: #fff;
    border: 0;
    width: 159px;
    height: 26px;
    padding: 0 14.5px;
    position: relative;
}
#search #search_global .field {
    float: left;
}
#text:focus + label {
    display: none;
}
#text:focus {
    outline: none;
}
#search #search_global .field.text label {
    color: #ccc;
    position: absolute;
    left: 12px;
    top: 6px;
    font-size: 0.75em;
}
#search #btn_search_global {
    float: left;
    display: block;
    height: 26px;
    width: 57px;
    background: url(../imgs/search.png) no-repeat left bottom;
}

#nav_main {
    height: 31px;
    padding: 0;
}
#banner {
	height: 48px;
}
#left-banner {
	float: left;
	padding-left: 3px;
}
#right-banner {
	float: right;
	padding-right: 2px;
}

#header-nav {
	margin-left: 19px;
	margin-top: 11px;
	padding-left: 11px;
	height: 11px;
	margin-bottom: 10px;
}

#header-nav a {
	text-decoration: none;
}
#home-icon {
	width: 10px;
	height: 9px;
	float: left;
}
.arrow-icon {
	width: 5px;
	height: 10px;
	float: left;
	display: inline;
}
.header-text {
	font-size: 11px;
	color: #336699;
	float: left;
	margin-top: -2px;
	margin-left: 6px;
	margin-right: 8px;
}
#end-text {
	color: #333333;
}

#lower-part{
    z-index: -100;
}

/* Side bar CSS */
/* --------- --------- --------- --------- --------- */
#side-bar {
	float: left;
	width: 170px;
	height: 1260px;
	background:	#f2f2f2 url(../imgs/side_bar_bg.png) repeat-y;
}
#bar-list {
	margin-top: 22px;
	margin-left: 19px;
}
#bar-line {
	background-color: #cccccc;
	width: 132px;
	height: 3px;
}
.bar-line-thin {
	background-color: #cccccc;
	width: 132px;
	height: 1px;
}		
#bar-title {
	margin-top: 8px;
	margin-bottom: 10px;
	height: 12px;
	font-size: 12px;
	font-weight: bold;
	color: black;
}
.bar-block {
	height: 26px;
    cursor: pointer;
}
.bar-block:hover .side-icon {
    opacity: 1;
}
.side-icon {
	margin-top: 8px;
	width: 4px;
	height: 9px;
	opacity: .5;
	position: absolute;
}
#bar-text-main{
	position: absolute;
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 5px;
	font-size: 12px;
	font-weight: bold;
	color: #666666;
}
.bar-block:hover #bar-text-main {
    color: #ff9933;
}
.bar-text {
    position: absolute;
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 5px;
    font-size: 11px;
    color: #666666;
}
.bar-block:hover .bar-text {
    color: #ff9933;
}
#social-me {
    margin-top: 16px;
}
.social-btn {
    width: 105px;
    height: 32px;
    cursor: pointer;
}

/* hover nav bar */
/* --------- --------- --------- --------- --------- */
#heating-btn {
    margin-left: 93px;
    margin-top: -31px;
    width: 114px;
    height: 31px;
    position: absolute;
}
#heating-img {
    display: none;
}
#heating-btn:hover #heating-img{
    display: block;
}
#headting-dd {
    display: none;
    width: 171px;
    height: 173px;
    border: 3px solid #663333;
    z-index: 20;
    background-color: white;
    -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    border-top-style: none;
}
#heating-btn:hover #headting-dd{
    display: block;
}
.heating-text {
    margin-left: 24px;
    margin-top: 22px;
    font-size: 12px;
    font-weight: bold;
}
#target-text:hover  {
    cursor: pointer;
    color: white;
}

.heating-text-highlight { 
    display: none;
    margin-left: -10px;
    margin-top: -24px;   
    width: 162px;
    height: 40px;
    background-color: #336699;
    font-weight: bold;
    -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: -5;
}
.heating-text:hover .heating-text-highlight {
    display: block;
}

.dropdown-side {
    display: none;
    margin-left: 132px;
    margin-top: -38px;
    width: 171px;
    height: 464px;
    background-color: #336699;
    -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    border-top-style: none;
}
.heating-text:hover .dropdown-side{
    display: block;
}
#dropdown-side-space {    
    margin-top: 16px;
    margin-left: 20px;
}
.dropdown-side-text {
    color: white;
    font-size: 12px;
    margin-top: 12px;
    font-weight: bold;
}

/* main CSS */
/* --------- --------- --------- --------- --------- */
#main {
	float: right;
	width: 790px;             
}
#main-top {
	height: 73px;
	background:	#f2f2f2 url(../imgs/main_top_bg.png) repeat-x;
}
#line {
	margin-top: 18px;
	margin-left: 15px;
	margin-bottom: 48px;
	background-image: url(../imgs/line.png);
	position: absolute;
	width: 755px;
	height: 7px;
}
#main-title {
	font-size: 28px;
	margin-top: 34px;
	margin-left: 29px;
	position: absolute;
}
.main-space {
	padding-left: 29px;
}
#main-imgs {
	height: 293px;
	margin-bottom: 44px;
}

/* rotate imgs */
/* --------- --------- --------- --------- --------- */
.front {
    position: absolute;
	z-index: 10;
    display: block;
}
.back {
    position: absolute;
    z-index: 0;
    display: none;
}

.block-row {
	margin-left: 29px;
	margin-right: 21px;
}
.block {
	width: 360px;
	height: 292px;
	color: #333333;
}
.block-img {
	width: 360px;
	height: 170px;
}
.long-block-img {
	width: 170px;
	height: 230px;
}
.block-title {
	font-weight: 600;
	margin-top: 13px;
	margin-bottom: 7px;
}
.block-text {
	font-size: 0.75em;
}
.bot-blocks {
	margin-top: 9px;
}

#rotate-area {
    margin-top: -32px;
    margin-left: 29px;
    padding-left: 334px;
    height: 12px;
    position: absolute;
}
.circle {
    margin-right: 18px;
    float: left;
    width: 12px;
    height: 12px;
    background: #cccccc;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    cursor: pointer;
}
.target-c {
    background: #cc6633;
}

/* shared CSS */
/* --------- --------- --------- --------- --------- */
.reset {
  padding: 0;
  border: 0;
  margin: 0;
}
.flo-left {
	float: left;
}
.flo-right {
	float: right;
}
.clear:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
    line-height: 0;
}
img {
    display: block;
}
ul li {
    list-style-type: none;
}
#container .wrapper {
    padding: 0 11px;
}

.space {
    margin-top: 10px;
}
